@import url(http://fonts.googleapis.com/css?family=Freckle+Face|Poiret+One&subset=latin-ext);
body {
  font-family: 'Freckle Face', sans-serif;
}
.carousel-caption {
  background-color: rgba(0, 0, 25, 0.4);
  border-radius: 50px;
  padding: 10px;
}
.carousel-caption > h3 {
  text-shadow: 5px 5px 5px rgba(75, 0, 0, 0.8);
}

.carousel-caption > p {
  text-shadow: 2px 2px 2px rgba(0, 75, 0, 0.4);
}

.carousel {
  padding-top: 50px;
  padding-bottom: 20px;
}
